# public
HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:@postgres:5432/coach-platform
# public
POSTGRES_DB=coach-platform
# public
NEXTAUTH_URL=https://coach.scbirs.ch/


HASURA_GRAPHQL_ADMIN_SECRET=
HASURA_GRAPHQL_JWT_SECRET=
JWT_SECRET=




AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=