* {
    box-sizing: border-box;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: medium;
}

html {
    --box-border-radius: 0.5em;
    --input-radius: 0px;
    --shadow-color: #757575b6;
    --color-primary: rgb(137, 158, 255);
    --color-highlight: rgb(176, 191, 255);
    --color-font-primary: black;
    --color-font-secondary: rgb(102, 102, 102);

    --color-yellow-1: rgb(252, 252, 120);
    --color-yellow-2: rgb(255, 255, 225);
    --color-red-1: rgb(233, 130, 123);
    --color-red-2: rgb(226, 165, 160);
    --color-green-1: rgb(95, 201, 139);
    --color-green-2: rgb(178, 240, 203);
    
}

body {
    margin: 0px;

}

input[type=text], input[type=password], input[type=number] {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: var(--input-radius);
    border: 0px;
    box-shadow: 0px 0px 5px var(--shadow-color);
}

input[type=submit], button, .button {
    margin: 0.2rem;
    border: 0px;
    padding: 0.4rem;
    border-radius: var(--input-radius);
    background-color: #f0f0f0;
    text-decoration: none;
    color: var(--color-font-primary);
}

input[type=submit]:hover, button:hover, .button:hover {
    background-color: var(--color-highlight);
}